<%= Thredded::ApplicationController.render partial: 'thredded/users/posts', locals: {
      posts: Thredded.posts_page_view(scope: @user.thredded_posts.order_newest_first.limit(5),
                                      current_user: current_user) } %>

<%= render partial: 'users/sessions/usernavbar' %>

<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-4 profile-pic"></div>
  <div class="">
           <ul class="">
             <a href="<%= thredded_path %>" class="navbar-brand page-scroll">Dashboard</a>
           </ul>
       </div>
  <div class="">
           <ul class="">
             <a href="<%= edit_user_registration_path %>" class="navbar-brand page-scroll">Edit User</a>
           </ul>
       </div>
  <section>
    <div class="profile-pic">

    <div class="col-sm-8 profile-content">
      <p id="paragraph-profile">
        <h3>Human User</h3>
        Hi, I’m Human. I’ve been a councellor for 15 years, and I love it.<br>
        <strong>Location:</strong> Toronto, Canada <br>
        <strong>Website:</strong> www.councellor.com
      </p>
    </div>
  </div>

      <div class="profile-lower row">
        <div class="col-sm-6 left-top"></div>
        <div class="col-sm-6 right-top"></div>
        <div class="col-sm-6 left-bottom"></div>
        <div class="col-sm-6 right-bottom"></div>
      </div>

    </div>

  </section>
  <section>
    <span id=""></span>
    <span id=""></span>
    <span id=""></span>
    <span id=""></span>
  </section>

</div>
