<%= Thredded::ApplicationController.render partial: 'thredded/users/posts', locals: {
      posts: Thredded.posts_page_view(scope: @user.thredded_posts.order_newest_first.limit(5),
                                      current_user: current_user) } %>

<%= render partial: 'users/sessions/usernavbar' %>

<div class="container">
  <div class="navbar-right">
           <ul class="nav-right">
             <a href="<%= thredded_path %>" class="navbar-brand page-scroll">My Dashboard</a>
           </ul>
       </div>
  <section>
    <div class="profile-pic">

    </div>
    <div class="profile-content">

    </div>

  </section>
  <section>
    <span id=""></span>
    <span id=""></span>
    <span id=""></span>
    <span id=""></span>
  </section>
</div>
