<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Calling all financial coaches!</h2>
                <hr class="light">
                <p class="text-faded">
                  Prosper Canada is an organization dedicated to helping
                  people in financial need. To find out more about who we
                  are and what we do, check us out on our homepage.
                </p>
                <a href="http://www.prospercanada.org/About-Us/Overview.aspx" target="_blank" class="btn btn-default btn-xl">Find Out More</a>
            </div>
        </div>
    </div>
</section>
