<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Calling all financial coaches!</h2>
                <hr class="light">
                <p class="text-faded">
                  Prosper Coach Canada is the perfect collaborative tool to
                  connect professional financial coaches across Canada! Whether
                  you're looking for some new resources to help your community,
                  or looking for advice from other users, our open forum and
                  built-in private messaging system can do the trick. 
                </p>
                <a href="#" class="btn btn-default btn-xl">Find Out More</a>
            </div>
        </div>
    </div>
</section>
