<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div id="header-logo"> <%= image_tag "creative/header/PCCLogoSmall.png" %> </div>
            <p>Prosper Coach Canada is the perfect collaborative tool to
            connect professional financial coaches across Canada! Whether
            you're looking for some new resources to help your community,
            or looking for advice from other users, our open forum and
            built-in private messaging system can do the trick.
            </p>
            <a href="<%= new_user_session_path %>" class="btn btn-primary btn-xl page-scroll">Login</a>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
        </div>
    </div>
</header>
