#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    color: white;
}
.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
}
