// styling for links at the bottom of signup-link and login

.signup-link {
  display: block;
  text-align: center;
}

.forgot-password-link {
  display: block;
  text-align: center;
}

.login-link {
  display: block;
  text-align: center;
}
