.container {
  background-color: rgb(228, 221, 220);
  width: 1200px;
  height: auto;
  padding: 10px 20px;

  .profile-pic {
    border-radius: 80px;
    background-color: rgb(180, 189, 178);
    width: 150px;
    height: 150px;
  }

  .profile-content {

  }
}
